<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1 style="color: red; background: blue;">This is inline CSS</h1>

    <p style="color: yellow; background: pink;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta repudiandae sint dolores eum blanditiis maxime animi. Dolorem voluptas consequuntur velit, tempore id tempora dolore veniam eum incidunt ipsam optio unde?</p>
</body>
</html>