<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #head{
            color: red;
            background: yellow;
        }
        .main{
            font-style: italic;
        }
    </style>
</head>
<body>
    <h1 id="head">This is Internal CSS</h1>

    <p class="main">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, quisquam distinctio vel accusamus quam expedita nihil unde placeat, omnis aperiam ducimus voluptas. Delectus totam quisquam saepe incidunt cupiditate odio sed quis, autem corporis perspiciatis nihil repellendus praesentium, animi labore qui? Consequatur laboriosam repudiandae dolores sit, aut porro obcaecati delectus nam ipsum laudantium natus est, perspiciatis quibusdam sed provident nihil inventore numquam saepe neque iusto minima repellat. Saepe quam vitae, temporibus molestiae assumenda cupiditate deleniti tempora repellat numquam provident esse neque laboriosam praesentium voluptatem rerum tenetur doloremque? Molestiae, enim consectetur! Officiis magnam repellat maxime facere nemo, minus autem placeat fuga harum.</p>
</body>
</html>